*{
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.shopping-card {
  justify-content: space-between;
  background-color: #000000;
  padding: 20px 30px;
}

.product-item {
  padding: 20px;
}
.shop{
  font-size: x-large;
}
